/* Deprecated vars */
@borderLight: #ccc;
@borderDark: #666;

@fontSizeLargeHeader: var(--font-size-28, 20pt);
@fontSizeHeader: var(--font-size-24, 18pt);
@fontSizeSubHeader: var(--font-size-20, 16pt);
@fontSizeLarge: var(--font-size-14, 14pt);
@fontSizeEnlarged: var(--font-size-13, 10pt);
@fontSizeNormal: var(--font-size-12, 9pt);
@fontSizeSmall: var(--font-size-11, 8pt);

/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */

@font-face {
  font-family: "Nodesto";
  src: url("../../fonts/modesto-condensed/modesto-condensed-bold.woff2") format("woff2");
}
.nodesto {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: @fontSizeHeader;
  font-variant: small-caps;
}

/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */

@colorDark: #191813;
@colorFaint: #c9c7b8;
@colorBeige: #b5b3a4;
@colorTan: #7a7971;
@colorOlive: #4b4a44;
@colorCrimson: #44191a;
@colorLink: #7e78dc;
@colorRust: #782e22;
@colorRed: #da0000;
@colorGold: #ffd700;
@borderGroove: 2px groove #eeede0;
@sheetBackground: url("ui/parchment.jpg") repeat;
@filterAuburn: invert(16%) sepia(51.5%) saturate(4012%) hue-rotate(345deg) brightness(100%) contrast(86%);
@filterParchment: invert(88%) sepia(11%) saturate(158%) hue-rotate(13deg) brightness(98%) contrast(93%);

@colorSuccess: #18520b;
@colorFailure: #aa0200;

@itemHoverBackgroundTint: rgba(64, 64, 192, 0.2);
@itemActiveBackgroundTint: rgba(32, 32, 96, 0.2);
@itemDarkBackgroundTint: rgba(155, 155, 155, 0.2);
@itemBrightBackgroundTint: rgba(210, 210, 210, 0.3);

.itemBackgroundBase(@base, @alt, @hover) {
  background-color: @base;
  &:nth-child(2n + 1) {
    background-color: @alt;
  }
  &:hover {
    background-color: @hover;
  }
  &.active {
    background-color: @itemActiveBackgroundTint;
  }
}

.itemBackground() {
  .itemBackgroundBase(@itemDarkBackgroundTint, @itemBrightBackgroundTint, @itemHoverBackgroundTint);
}

.itemBackgroundAlt() {
  .itemBackgroundBase(@itemBrightBackgroundTint, @itemDarkBackgroundTint, @itemHoverBackgroundTint);
}

/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .flex1 {
    flex: 1;
  }
  .flex2 {
    flex: 2;
  }
  .flex3 {
    flex: 3;
  }
  .flex4 {
    flex: 4;
  }
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .flex1 {
    flex: 1;
  }
  .flex2 {
    flex: 2;
  }
  .flex3 {
    flex: 3;
  }
  .flex4 {
    flex: 4;
  }
}

.strikethrough-text {
  text-decoration: line-through;
}

.pf1-sheet-group {
  padding: 2px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;

  &:hover {
    border-color: #666;
  }
}

/* ----------------------------------------- */
/*  Animation                                */
/* ----------------------------------------- */

@keyframes dice-spin {
  100% {
    transform: rotate(1turn);
  }
}
