<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

    {{> "systems/pf1/templates/items/parts/item-name.hbs"}}
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="contents">{{ localize "PF1.ItemContainerContents" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.hbs"}}

    {{!-- Contents Tab --}}
    <div class="tab flexcol" data-group="primary" data-tab="contents">

      {{!-- Equipment Status --}}
      {{#if isGM}}
      <div class="form-group stacked">
        <label>{{localize "PF1.EquipmentStatus"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.identified" {{checked data.identified}}/> {{localize "PF1.Identified"}}
        </label>
      </div>
      {{/if}}

      <div class="form-group">
        <label>{{localize "PF1.ItemContainerWeightReduction"}} %</label>
        <input type="number" class="select-on-click" value="{{data.weightReduction}}" name="data.weightReduction"/>
      </div>

      <div class="form-group">
        {{~> "systems/pf1/templates/internal/item-search.hbs" category="container"}}

        <ol class="currency flexrow{{#if hasCurrency}} has-currency{{/if}}">
          <h3>
            {{localize "PF1.Currency"}}
          </h3>
          {{#each config.currencies as |l k|}}
          <label class="denomination {{k}}">{{l}}</label>
          <input type="text" class="select-on-click" name="data.currency.{{k}}" value="{{#if (lookup ../data.currency k)}}{{lookup ../data.currency k}}{{/if}}" data-dtype="String"/>
          <a class="convert-currency" data-type="{{k}}" data-category="currency" title="{{localize "PF1.ConvertCurrency"}}"><i class="fas fa-long-arrow-alt-left"></i></a>
          {{/each}}
        </ol>
      </div>

      {{> "systems/pf1/templates/items/parts/item-contents.hbs" sections=inventory}}

      <footer>
        <table>
          <thead>
            <tr>
              <th>{{localize "PF1.ItemContainerContentsWeight"}}</th>
              <th>{{localize "PF1.ItemContainerContentsValue"}}</th>
              <th>{{localize "PF1.ItemContainerContentsSellValue"}}</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>{{contentsWeight}} {{weight.units}}</td>
              <td>{{labels.totalValue}}</td>
              <td>{{labels.sellValue}}</td>
            </tr>
          </tbody>
        </table>
      </footer>
    </div>

    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}

  </section>
</form>
