<form class="{{ cssClass }} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

    <div class="header-details flexrow">
      {{> "systems/pf1/templates/items/parts/item-name.hbs"}}

      <ul class="summary">
        <li>
          {{ itemType }}
        </li>
        <li>
          {{ labels.weaponType }}
        </li>
        <li>
          {{ labels.weaponSubtype }}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    {{/unless}}
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.hbs"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/pf1/templates/items/parts/item-actions.hbs"}}

      <h3 class="form-header">{{localize "PF1.Properties"}}</h3>

      {{#if owner}}
      <label class="checkbox">
        <input type="checkbox" name="data.showInQuickbar" {{checked data.showInQuickbar}} />
        {{localize "PF1.ShowInQuickbar"}}
      </label>
      {{/if}}

      {{> "systems/pf1/templates/items/parts/item-aura.hbs"}}

      <h3 class="form-header">Weapon Details</h3>
      {{#if (and owner owned)}}
      <div class="form-group">
        <button type="button" name="create-attack">{{localize "PF1.CreateAttack"}}</button>
      </div>
      {{/if}}

      {{!-- Weapon Type --}}
      <div class="form-group">
        <label>{{localize "PF1.Category"}}</label>
        <div class="form-fields">
          <select name="data.weaponType">
            {{#select data.weaponType}}
            {{#each weaponCategories.types as |name type|}}
            <option value="{{ type }}">{{ name }}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      {{!-- Weapon Subtype --}}
      <div class="form-group">
        <label>{{localize "PF1.Type"}}</label>
        <div class="form-fields">
          <select name="data.weaponSubtype">
            {{#select data.weaponSubtype}}
            {{#each weaponCategories.subTypes as |name type|}}
            <option value="{{ type }}">{{ name }}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      {{!-- Weapon Size --}}
      {{> "systems/pf1/templates/items/parts/item-size.hbs" allowAutoResizing=true}}

      {{!-- Weapon Hold Type --}}
      <div class="form-group">
        <label>{{localize "PF1.Held"}}</label>
        <div class="form-fields">
          <select name="data.held">
            {{#select data.held}}
            {{#each config.weaponHoldTypes as |name type|}}
            <option value="{{ type }}">{{ name }}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      {{!-- Weapon Groups --}}
      {{> "systems/pf1/templates/items/parts/item-weapon-groups.hbs"}}

      {{!-- Equipment Status --}}
      <div class="form-group stacked">
        <label>{{localize "PF1.EquipmentStatus"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.equipped" {{checked data.equipped}} /> {{localize "PF1.Equipped"}}
        </label>
        {{#if isGM}}
        <label class="checkbox">
          <input type="checkbox" name="data.identified" {{checked data.identified}} /> {{localize "PF1.Identified"}}
        </label>
        {{/if}}
        <label class="checkbox">
          <input type="checkbox" name="data.masterwork" {{checked data.masterwork}} /> {{localize "PF1.Masterwork"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.broken" {{checked data.broken}} /> {{localize "PF1.Broken"}}
        </label>
      </div>

      {{#unless showUnidentifiedData}}
      {{!-- Weapon Properties --}}
      <div class="form-group stacked weapon-properties">
        <label>{{localize "PF1.WeaponProperties"}}</label>
        {{#each config.weaponProperties as |name prop|}}
        <label class="checkbox">
          <input type="checkbox" name="data.properties.{{ prop }}" {{checked (lookup ../data.properties prop)}}/>
          {{ name }}
        </label>
        {{/each}}
      </div>

      <div class="form-group">
        <label>{{localize "PF1.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="data.enh" value="{{ data.enh }}" data-dtype="Number" placeholder="0" />
        </div>
      </div>

      {{!-- Advanced Tag --}}
      {{> "systems/pf1/templates/items/parts/item-tag.hbs"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{~> "systems/pf1/templates/items/parts/item-changes.hbs"}}
    </div>
    {{/unless}}

    {{!-- Links Tab --}}
    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    {{!-- Advanced Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>