<form class="pf1 custom-skill" autocomplete="off">
  <div class="form-group">
    <label>{{localize "PF1.Name"}}</label>
    <div class="form-fields">
      <input type="text" name="skill.name" value="{{skill.name}}" data-dtype="String"{{#if skill.static}} disabled{{/if}} />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.Rank"}}</label>
    <div class="form-fields">
      <input type="text" name="skill.rank" value="{{skill.rank}}" data-dtype="Number" />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.ACPLong"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="skill.acp" {{checked skill.acp}} data-dtype="Boolean" />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.RTTooltip"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="skill.rt" {{checked skill.rt}} data-dtype="Boolean" />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.Ability"}}</label>
    <div class="form-fields">
      <select class="skill-ability" name="skill.ability" data-dtype="String">
        {{#select skill.ability}}
        <option value=""><!-- None --></option>
        {{#each @root.config.abilities as |ability a|}}
        <option value="{{a}}">{{ability}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  </div>

  {{#unless skill.static}}
  <div class="form-group">
    <label>{{localize "DOCUMENT.JournalEntry"}}</label>
    <div class="form-fields">
      <select name="skill.journal">
        {{ selectOptions journals selected=skill.journal blank="" nameAttr="id" labelAttr="name"}}
      </select>
    </div>
  </div>
  {{/unless}}

  <button type="submit" name="submit"><i class="far fa-save"></i> {{ localize "Save Changes" }}</button>
</form>